*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
  font-family: sans-serif;
}

a, li{
  text-decoration: none;
}

img{
  width: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

/* MAIN */

.main-content{
  min-height: 90vh;
  background-color: black;
  padding-bottom: 5px;
  display: flex;
  row-gap: 8px;
  column-gap: 3px;
  justify-content: center;
  align-content: flex-end;
  flex-wrap: wrap;
}

.pics-profile{
  max-width: 140px;
  position: relative;
}

.name-profile{
  color: white;
  padding: 2px;
  background-color: rgba(221, 221, 221,0.5);
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  left: 0;
  font-size: 8px;
}

/* TOOLS-BAR */

.tools-bar{
  min-height: 10vh;
  background-color: rgb(34, 34, 34);
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  color: white;
}

.tools-elements{
  display: flex;
  column-gap: 10px;
  justify-content: center;
  padding: 0 10px;
}

.icon, .icon-share{
  text-align: center;
}

.text-icon, .text-icon-share{
  text-align: center;
  font-size: 10px;
}

.icon-share{
  color:#4BC800;
}

.text-icon-share{
  color:#4BC800;
}

.end-btn{
  color: red;
  padding: 30px 10px;
  height: 100%;
  font-size: 10px;
}

.end-btn:hover{
  background-color: #4A4A4A;
}